@model List<mvcproject.Dto.ResultDto>

<div class="d-flex justify-content-center position-absolute top-0 align-items-center end-0" style="height: 70px; box-shadow: 0 0 3px grey; left: 300px;">
    <form action="@Url.Action("GetUsers", "User")">
        <button asp-action="GetUsers" asp-controller="User" class="btn btn-outline-primary">Cancel</button>
    </form>
</div>




<head>
    <style>
        .table {
            border;
            1px solid #0c1e35;
            border-radius: 20px;
        }
    </style>
</head>
<div>

    <table class="table" style="overflow: scroll;">
        <thead>
            <tr>
                <td style="width: 100px">Id</td>
                <td style="width: 100px">Name</td>
                <td style="width: 300px">Image</td>
                <td style="width: 250px">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Result</h1>

                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="@Url.Action("AddResult", "Result")">
                                <div class="modal-content " style="width: 500px;">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Result</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input name="name" type="text" class="form-control w-100 my-3" required placeholder="Name" />
                                        <input name="url" class="form-control w-100 my-3" required placeholder="Image" />
                                        <input type="number" name="EducationId" class="form-control w-100 my-3" required placeholder="Education Id" />
                                        <input type="number" name="UserId" class="form-control w-100 my-3" required placeholder="User Id" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button asp-action="AddResult" asp-controller="Result" type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var iteam in Model)
            {
                <tr>
                    <th><input style="width: 60px !;" readonly value="@iteam.ID" class="form-control w-100" /></th>
                    <th><input readonly style="width: 108px;" value="@iteam.Name" class="form-control" /></th>

                    <th>
                        <div readonly value="@iteam.Name" class="form-control" style="width: 200px; overflow:auto;">
                            @iteam.Name
                        </div>

                    </th>

                    <th>
                        <img readonly style="width: 200px; object-fit: contain;" src="@iteam.Url" value="@iteam.Url" class="form-control w-100" />
                    </th>
                    <th>
                        <form action="@Url.Action("GetByid", "Result")"><input type="hidden" name="id" value="@iteam.ID" /><button asp-action="GetByid" asp-controller="Result" type="submit" class="btn btn-outline-success my-3">Edit</button></form>
                        <form action="@Url.Action("DeleteResult", "Result")"><input type="hidden" name="id" value="@iteam.ID" /> <button class="btn btn-outline-danger" asp-action="DeleteResult" asp-controller="Result">Delete Home Work</button></form>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
