@model List<mvcproject.Dto.LessonsDto>


<head>
    <style>
        .table {
            border;
            1px solid #0c1e35;
            border-radius: 20px;
        }
    </style>
</head>
<div>

    <table class="table" style="overflow: scroll;">
        <thead>
            <tr>
                <td style="width: 50px;">Id</td>
                <td style="width: 300px;">Description</td>
                <td style="width: 300px;">Title</td>
                <td >Video 2</td>
                <td >Video 1</td>
                <td style="width: 300px">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Add Lesson</h1>

                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="@Url.Action("AddLesson", "Lesson")">
                                <div class="modal-content " style="width: 500px;">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Lesson</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input name="title" class="form-control w-100 my-3" required placeholder="Title" />
                                        <input name="Description" class="form-control w-100 my-3" required placeholder="Description" />
                                        <input name="Video_url" class="form-control w-100 my-3" required placeholder="Video 1" />
                                        <input name="Vedeo_url2" class="form-control w-100 my-3" required placeholder="Video 2" />
                                        <input name="CourseId" class="form-control w-100 my-3" required placeholder="Course Id" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button asp-action="AddLesson" asp-controller="Lesson" type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var iteam in Model)
            {
                <tr>
                    <th><input style="width: 50px !important;" readonly value="@iteam.Id" class="form-control w-100" /></th>
                    <th><textarea style="width: 200px !important;" readonly value="@iteam.Description" class="form-control w-100">
                            @iteam.Description
</textarea></th>
                    <th><input style="width: 200px !important;" readonly value="@iteam.Title" class="form-control w-100" /></th>
                    <th>
                        
                        <iframe width="200" height="100" src="@iteam.Vedeo_url2" 
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>

                    </th>
                    <th>
                        <iframe width="200" height="100" src="@iteam.Video_url"
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </th>
                    <th>
                        <form action="@Url.Action("GetByid", "Lesson")"><input type="hidden" name="id" value="@iteam.Id" /><button asp-action="GetByid" asp-controller="Lesson" type="submit" class="btn btn-outline-success my-3">Edit</button></form>
                        <form action="@Url.Action("DeleeteLesson", "Lesson")"><input type="hidden" name="id" value="@iteam.Id" /> <button class="btn btn-outline-danger" asp-action="DeleeteLesson" asp-controller="Lesson">Delete Leeson</button></form>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
